/* CSS Document */

/*
 * Color specific styles
 */
 
 /* */
div#body-inner {
	background-image: url('../images/blue/body-bottom-blue.png');
}

div#stripe {
	background-image: url('../images/blue/stripe-blue.png');
}

div#banner {
	background: url('../images/blue/banner-blue.jpg') no-repeat;
}

div#content-wrapper{
	border-color: #004b75;
}

.hmenu li a,
#banner-copy * { color: #004b75; }
.hmenu li.active { background-color: #004b75; }

 /* END */
 
/*
 * Color specific styles END
 */