/* CSS Document */

/*
 * Color specific styles
 */
 
 /* */
div#body-inner {
	background-image: url('../images/green/body-bottom-green.png');
}

div#stripe {
	background-image: url('../images/green/stripe-green.png');
}

div#banner {
	background: url('../images/green/banner-green.jpg') no-repeat;
}

div#content-wrapper{
	border-color: #0f6628;
}

.hmenu li a,
#banner-copy * { color: #0f6628; }
.hmenu li.active { background-color: #0f6628; }
 /* END */
 
/*
 * Color specific styles END
 */